<div class="signup">
  <form [formGroup]="signUpForm" (ngSubmit)="submit()">
    <h1>Signup</h1>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput type="text" placeholder="Name.." formControlName="name" />
      <mat-error *ngIf="name?.errors?.['required']">
        Name is required
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="text"
        placeholder="Email.."
        formControlName="email"
      />
      <mat-error *ngIf="email?.errors?.['required']">
        Email is required
      </mat-error>
      <mat-error *ngIf="email?.errors?.['email']">
        Please enter correct email
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        placeholder="Password"
        formControlName="password"
      />
      <mat-error *ngIf="password?.errors?.['required']">
        Password is required
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        type="password"
        placeholder="confirm password"
        formControlName="confirmPassword"
      />
      <mat-error *ngIf="confirmPassword?.errors?.['required']">
        Confirm Password is required
      </mat-error>
    </mat-form-field>
    <mat-error *ngIf="signUpForm.errors?.['passwordsDontMatch']"
      >Password and confirm Password must be the same
    </mat-error>
    <button mat-raised-button class="sigupButton">Sign up</button>
  </form>
</div>
